* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'News Cycle', sans-serif;
}

#app {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    padding-top: 1rem;
    height: 100vh;       
}

@media only screen and (min-width: 900px) and (max-height: 700px) {
    #app {
        height: auto;
    }
}

.holder {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.headline {
    font-size: 5rem;
    font-weight: 700;
    color: #272010;
    font-family: 'Cabin Condensed', sans-serif;
}

.zip {
    align-items: center;
}

.note1 {
    font-size: 12px;
    line-height: 120%;
}

.examples {
    font-size: 10px;
    line-height: 120%;
    margin-bottom: 1.2rem;
}

.entry {
    margin: 1.5rem 0 3rem 0;
}

#entryHolder {
    margin: 1rem 0 1rem 0;
}

#location {
    font-size: 28px;
    font-family: 'Cabin Condensed', sans-serif;
}

#date {
    font-size: 16px;
}

.icon-and-temp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

#temp {
    font-size: 68px;
    font-weight: 900;
}

#description {
    font-size: 20px;
    margin-bottom: 0.2rem;
}

#content {
    font-size: 18px;
    font-weight: bold;
}

.feel {
    align-items: center;
    width: auto;
    margin-bottom: 2rem;
}

.line {
    border-bottom: 5px solid #272010;
}

.button {
    margin-top: 0.5rem;
}

/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    font-size: 1.5rem;
}

input {
    display: block;
    height: 52px;
    width: 320px;
    background: #AEE6F2;
    color: #F20574;
    font-size: 24px;
    font-family: 'Cabin Condensed', sans-serif;
    border: none;
    text-align: center;
}

button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-radius: 6px;
    transition: 0.3s;
    border: solid 2px #F20574;
    background: #F20574;
    color: #fff;
    font-family: 'Cabin Condensed', sans-serif;
    margin: 0 0.5rem;
}

button:hover, button:focus {
    cursor: pointer;
    background: #fff;
    color: #F20574;
}

textarea {
    background: #AEE6F2;
    color: #F20574;
    font-size: 24px;
    font-family: 'Cabin Condensed', sans-serif;
    text-align: center;
    border: none;
    padding: 1rem 0;
    margin-bottom: 0.5rem;
}

/* Reset style for HTML element on active to have no border*/

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}