body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height: 100vh;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 0.5em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.entry {
    background: rgba(59, 74, 107, .4);
    margin-bottom: 4rem;
}

#entryHolder {
    padding-top: 2rem;
}

#date {
    font-size: 27px;
}

#temp {
    font-size: 27px;
}

#content {
    font-size: 27px;
}

.headline {
    font-size: 5rem;
}

.zip {
    align-items: center;
}

.feel {
    align-items: center;
    width: auto;
}

.title {
    font-size: 20px;
}

.button {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 27px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    text-align: center;
}

button {
    width: 160px;
    height: 80px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 3%;
}

button:hover {
    cursor: pointer;
    background:#f0d43a;
    color: #3b4a6b;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 100%;
}

/* Reset style for HTML element on active to have no border*/

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}